
<!-- Wrapper -->
<div id="wrapper">

    <div class="clearfix"></div>
    <!-- Header Container / End -->
    
    
    <!-- Dashboard Container -->
    <div class="dashboard-container">
    
        <!-- Dashboard Sidebar
        ================================================== -->
        <div class="dashboard-sidebar">
            <div class="dashboard-sidebar-inner" data-simplebar>
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <!-- Dashboard Sidebar / End -->
    
    
        <!-- Dashboard Content
        ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner" >
                
                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <h3>Messages</h3>
    
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li>Messages</li>
                        </ul>
                    </nav>
                </div>
        
                    <div class="messages-container margin-top-0">
    
                        <div class="messages-container-inner">
    
                            <!-- Messages -->
                            <div class="messages-inbox">
                                <div class="messages-headline">
                                    <div class="input-with-icon">
                                            <input id="autocomplete-input" type="text" placeholder="Search">
                                        <i class="icon-material-outline-search"></i>
                                    </div>
                                </div>
    
                                <ul *ngFor="let conv of conversationList">
                                    <li>
                                        <a (click)='getChatList(conv.reciever ,conv.recieverName)' >
                                            <div class="message-avatar"><img src="https://res.cloudinary.com/dnf8ntdmr/image/upload/v{{conv.imageVersion}}/{{conv.imageId}}" /><i class="status-icon status-online"></i></div>
                                            <div class="message-by">
                                                <div class="message-by-headline">
                                                    <h5>{{conv.recieverName}}</h5>
                                                    <p>{{conv.message}}</p>
                                                </div>
                                            </div>
                                        </a>
                                        <p> <button  (click)='deleteConv(conv._id)' class="message-action"><i class="fas fa-trash"></i></button></p>
                                    </li>
                                </ul>
                            </div>
                            <!-- Messages / End -->
    
                            <!-- Message Content -->
                            <div class="message-content">
    
                                <div class="messages-headline">
                                    <h4></h4>
                                </div>
                                <!-- Message Content Inner -->
                                <div class="message-content-inner" ngx-auto-scroll lock-y-offset="10" observe-attributes>
                                    <ul *ngFor='let c of chat'>
                                        <li>
                                            <div *ngIf='c.senderId === userId' class="message-bubble me">
                                                <div class="message-bubble-inner">
                                                    <div class="message-avatar">
                                                        <img src="https://res.cloudinary.com/dnf8ntdmr/image/upload/v{{user.profile.profileimage.imageVersion}}/{{user.profile.profileimage.imageId}}.png" />
                                                        <!-- {{c.sender}} -->
                                                    </div>
                                                    <div class="message-text"><p>{{c.body}}</p></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div *ngIf='c.senderId !== userId' class="message-bubble">
                                                <div class="message-bubble-inner">
                                                    <div class="message-avatar avatar"><img src="https://res.cloudinary.com/dnf8ntdmr/image/upload/v{{recieverUser.profileimage.imageVersion}}/{{recieverUser.profileimage.imageId}}" alt="" />
                                                        <!-- {{c.sender}} -->
                                                    </div>
                                                    <div class="message-text"><p>{{c.body}}</p></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    </ul>
                                       
    
                                </div>
                                <!-- Message Content Inner / End -->
                                
                                <!-- Reply Area -->
                                <div *ngIf='typing'><p>{{recieverName}} is typing ...</p></div>
                                <div class="message-reply">
                                    <textarea cols="1" rows="1" (keypress)='isTyping()' #body placeholder="Your Message" data-autoresize></textarea>
                                    <button class="button ripple-effect" (click)="sendMessage(body)">Send</button>
                                </div>
    
                            </div>
                            <!-- Message Content -->
    
                        </div>
                </div>
                <!-- Messages Container / End -->
    
    
    
                
                <!-- Footer -->
                <div class="dashboard-footer-spacer"></div>
                <div class="small-footer margin-top-15">
                    <div class="small-footer-copyrights">
                        © 2018 <strong>Hireo</strong>. All Rights Reserved.
                    </div>
                    <ul class="footer-social-links">
                        <li>
                            <a href="#" title="Facebook" data-tippy-placement="top">
                                <i class="icon-brand-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter" data-tippy-placement="top">
                                <i class="icon-brand-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Google Plus" data-tippy-placement="top">
                                <i class="icon-brand-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="LinkedIn" data-tippy-placement="top">
                                <i class="icon-brand-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Footer / End -->
    
            </div>
        </div>
        <!-- Dashboard Content / End -->
    
    </div>
    <!-- Dashboard Container / End -->
    
    </div>
    <!-- Wrapper / End -->
    
    
    <!-- Apply for a job popup
    ================================================== -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
    
        <!--Tabs -->
        <div class="sign-in-form">
    
            <ul class="popup-tabs-nav">
                <li><a href="#tab">Add Note</a></li>
            </ul>
    
            <div class="popup-tabs-container">
    
                <!-- Tab -->
                <div class="popup-tab-content" id="tab">
                    
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Do Not Forget 😎</h3>
                    </div>
                        
                    <!-- Form -->
                    <form method="post" id="add-note">
    
                        <select class="selectpicker with-border default margin-bottom-20" data-size="7" title="Priority">
                            <option>Low Priority</option>
                            <option>Medium Priority</option>
                            <option>High Priority</option>
                        </select>
    
                        <textarea name="textarea" cols="10" placeholder="Note" class="with-border"></textarea>
    
                    </form>
                    
                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="add-note">Add Note <i class="icon-material-outline-arrow-right-alt"></i></button>
    
                </div>
    
            </div>
        </div>
    </div>
    <!-- Apply for a job popup / End -->
    
    
