.attachment-box {
    -webkit-box-flex: 0;
    width: 80%;
    flex:none;
}
.error{
    color:red;
}
.grid-layout .job-listing {
  width:100%
}
ul{
    list-style-type: none;
}
.job-listing{
    cursor: pointer;
}

.companyProfile {
  cursor: pointer;
}