.myStyle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 .hide{
     display: none;
 }
 .show{
     display:block;
 }
 .right{
     float:right;
 }
 .input-with-icon-left {
    position: unset;
}
.cancel{
    background-color: #dc0606;
    padding: 10px;
    margin-left: 5px;
}
.button{
    padding: 10px;
    margin-left: 1%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.btn-danger{
    margin-left:5px;
}
.left-side{
    position:relative;
}
.attachment-box{
    flex:none;
}
.content{
    margin-top: 40px;
}
.editImage{
    margin-top: 10%;
    margin-right: -8%;
    z-index: 999;
}


