.listing:nth-child(even) {
    background: white !important;
    border-right: 2px solid #9237cb;
  }
  .listing:nth-child(odd) {
    background:white !important ;
    border-left: 2px solid #9237cb;
  }
  .job-listing{
      background-color:transparent ;
  }
  .job-listing-title{
      text-transform:capitalize;
  }
  a{
    cursor: pointer;
  }
  .icon{
    color:#9237cb;
  }
  .bookmark-text{
    border: #000000;
    color:#000000;
    background-color:#ffffff;
    font-size:25px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .bookmarked-text{
    border: #cccccc;
    color:#ffffff;
    background-color:#9237cb;
    font-size:25px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }