<div class="container margin-top-150" >
    <div class="displayTable">
            <div class="displayTableCell">
              <div class="authBlock text-center" >
                <h1>Thank You for Registering</h1>
                <br/>
                <div class="formGroup" >
                  <p class="text-center">We send verification email to  <strong>{{userData.email}}</strong>.</p>
                </div>
                
                <!-- Calling SendVerificationMail() method using authService Api -->
                <div class="formGroup text-center">
                    <div >
                        <button routerLink="/login" class="button ripple-effect margin-top-10">Login</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
